.navigation-bar {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.search-bar {
    min-width: 50vh;
    width: 25rem;
    height: 3vh;
    padding: 10px;
    border: none;
    background-color: #f2f2f2;
}

.search {
    align-items: center;
    display: flex;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: 1px solid darkgray;
}

.search-btn {
    width: 3rem;
}

.search-btn:hover {
    cursor: pointer;
}

.categories {
    min-width: 10rem;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
}